@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Titillium+Web:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #fff8e1;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

header {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

header p {
  text-align: center;
}

a {
  color: #000000;
}

.tags {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: left;
}

.tag {
  background-color: white;
  border: 1px solid #ebedef;
  padding: 5px;
  border-radius: 4px;
}

.tag.selected {
  background-color: #ebedef;
}

.tag.selected::before {
  content: "✓";
  margin-right: 5px;
}

.tag:hover {
  cursor: pointer;
}

.tool-container {
  margin: 0 20px;
  gap: 5px;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.tool {
  background-color: white;
  border: 1px solid #ebedef;
  padding: 5px;
  border-radius: 3px;
  margin: 0;
  margin-bottom: 10px;
}

.tool.hidden {
  display: none;
}

footer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  font-size: 0.8rem;
  color: #000000;
}

footer p {
  margin: 0;
  margin-top: 10px;
}
